.body {
    font-family: Poppins;
}

.divitle {
    width: 14%;
    height: 100%;
    border: solid 1px #ABABAB;
}

.move {
    margin-left: 6%;
    text-align: start;
    box-shadow: none!important;
}

.divContent {
    width: 85%;
    height: 100%;
    border: solid 1px #ABABAB;
}

.paragraph1 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.btnLang {
    background: #E5E5E5;
    border: none;
    box-shadow: none !important;
    color: #1C5E3B;
    border-radius: 5px;
    width: 120px;
    font-family: Poppins;
    font-weight: bold;
}

.btnLang:hover {
    color: #1C5E3B;
}

.divShow {
    height: 240px;
    width: 99%;
    left: 466px;
    top: 499px;
    border-radius: 5px;
    background: #1A2E52;
    margin-top: 1%;
}

.colorr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.me-3 {
    margin-right: 12!important;
}

.btn1:focus {
    outline: 0;
}

.btn2:focus {
    outline: 0;
}

.btn3:focus {
    outline: 0;
}

.btn4:focus {
    outline: 0;
}

.btn5:focus {
    outline: 0;
}

.headerborder {
    border-bottom: solid 1px #ABABAB;
}

.fonts {
    font-family: 'Cairo', sans-serif;
}

.bold {
    font-weight: bold;
}

.marg-right1 {
    margin-right: 14%;
}

.marg-right2 {
    margin-left: 81.1%;
}

.marg-right5 {
    color: red;
    margin-left: 81.1%;
}

.marg-left1 {
    margin-left: 64%;
}

.marg-left2 {
    margin-left: 79%;
}

.marg-left3 {
    color: #dc8a49;
    margin-left: 81.2%;
}

.div-small {
    border: solid 1px #ABABAB;
    width: 288px;
    height: 892px;
    background-color: #fff
    
    
}

.btn-all2 {
    margin-left: 4% !important;
    border: none;
    margin-right: 11px;
}

.div-big {
    border: solid 1px #ABABAB;
    width: 1442px;
    height: 892px;
    margin-right: 1%;
    background-color: #fff;
}

.h55 {
    margin-left: 85%;
}

.c {
    background: #E5E5E5;
    border: none;
    box-shadow: none !important;
    color: #1C5E3B;
    border-radius: 5px;
    width: 120px;
}

.copy {
    margin-top: -4.4%;
    margin-left: 14px;
}

.items {
    margin-top: 1%;
    height: 192px;
}