div.center {
    text-align: center;
}

.color {
    border: solid #459ED8 1px;
    background-color: #E5E5E5;
    color: #1C5E3B;
    border: none;
}

.color2 {
    border: solid #459ED8 1px;
    background-color: white;
    color: #459ED8;
}

.color3 {
    border: solid #FF0000 1px;
    background-color: white;
    color: #FF0000;
}

.afterr::after {
    content: " ";
    margin-bottom: 2px;
    width: 1px;
    height: 95%;
    position: absolute;
    background-color: #747474;
    z-index: 12;
    margin-left: 2.6%;
    margin: auto;
}

.btn:not(:disabled):not(.disabled) {
    border: none;
}

.btn {
    margin-top: -1%;
    margin-left: 0;
    background-color: #1C5E3B;
    width: 288px;
    right: 0;
    top: 20px;
    height: 48px;
    box-shadow: none;
    color: white;
}

.margin2 {
    margin-left: 4%;
}

.margin1 {
    margin-left: -1%;
    width: 600px !important;
    height: 48px;
    margin-top: 60px;
    left: 660px;
}

.btn-primary:hover {
    background-color: #1C5E3B;
}

.labels {
    width: 520px;
    height: 60px;
    border: solid black 1px;
    box-shadow: none;
    color: #ABABAB;
}

.close {
    font-size: 22px;
    color: red;

    position: absolute;
    left: 7px;
    top: 24px;
}

.fonts {
    font-family: Cairo;
}

.height1 {
    height: 60px !important;
    width: 520px;
}

.height2 {
    height: 60px
}

table tbody tr:hover {
    background-color: #EBFAED;
}

.bold {
    font-weight: bold;
}

.theadbackGround {
    background-color: #459ED8;
}

table tbody {
    border: solid #ABABAB 1px;
    color: #747474;
}

.margin3 {
    margin-left: -58px;
}

.margin4 {
    margin-left: -137px;
}

.margin5 {
    margin-left: -204px;
}

.tbodyborder {
    border: none;
}

.marginpaggination {
    margin-top: 2% !important;
}

.line {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

.paddingh5 {
    margin-bottom: 6%;
    padding-top: 40px;
   
}

.headerborder {
    border-bottom: solid 1px #ABABAB;
}

.margin-title {
    position: absolute;
    right: 5px;
    top: 23px;
}

.margin-form {
    margin-top: -3%;
}

.marg {
    margin-top: -3%;
   
}

.margR {
    margin-right: -3%;
}

.marg1 {
    margin-left: 85%;
}

.marg2 {
    margin-left: 82%;
}

.marg3 {
    margin-left: 90%;
}

.marg4 {
    margin-left: 83%;
}

.marg5 {
    margin-left: 89%;
}

.marg6 {
    margin-left: 90%;
}

.marg10 {
    margin-left: 87%;
}

.select-style {
    height: 60px;
    border: solid black 1px;
    box-shadow: none;
    color: #ABABAB;
    width: 100%;
    direction: rtl;
    border-radius: 5px;
}

.save {
    background-color: #1C5E3B;
    width: 600px !important;
    height: 48px;
    margin-bottom: 1%;
    box-shadow: none;
    border: none;
    
    margin-top: 26px;

}

.categ {
    width: 197%;
    margin-left: -52%;
    height: 48px;
}

.choices:last-child {
    margin-bottom: 51px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: white;
}

.choices__input {
    padding: 14px 0 4px 2px;
}

.mtop {
    margin-top: 6.1%;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
    background-color: white;
}

.choices__input {
    background-color: white;
}



.cost {
    margin-left: 10%;
    margin-right: -13%;
}

.infor {
    margin-left: -88%;
}

.cost2 {
    margin-left: 2%;
}
td:first-child{
    text-align: initial;
    padding-right: 36px !important;
  }
  
  td:last-child {
    text-align: end;
    padding-left: 36px !important;
    
  }
  th:first-child{
    text-align: initial;
    padding-right: 36px !important;
  }
  th:last-child {
    text-align: end;
    padding-left: 70px !important;
    
  }