div.center {
    text-align: center;
}

.color {
    border: solid #459ED8 1px;
    background-color: #E5E5E5;
    color: #1C5E3B;
    border: none;
}

.color2 {
    border: solid #459ED8 1px;
    background-color: white;
    color: #459ED8;
}

.color3 {
    border: solid #FF0000 1px;
    background-color: white;
    color: #FF0000;
}

.afterr::after {
    content: " ";
    margin-bottom: 2px;
    width: 1px;
    height: 95%;
    position: absolute;
    background-color: #747474;
    z-index: 12;
}

.btn:not(:disabled):not(.disabled) {
    border: none;
}

.btn {
    margin-top: -1%;
    margin-left: 1%;
    background-color: #1C5E3B;
    width: 288px;
    right: 0;
    top: 20px;
    height: 48px;
    box-shadow: none;
    color: white;
}

.margin2 {
    margin-left: 4%;
}

.margin1 {
    margin-left: -1%;
    width: 600px !important;
    height: 48px;
    margin-top: 60px;
    left: 660px;
}

.btn-primary:hover {
    background-color: #1C5E3B;
}

.labels {
    width: 520px;
    height: 60px;
    border: solid black 1px;
    box-shadow: none;
    color: #ABABAB;
}

.close {
    font-size: 22px;
    color: red;
    margin-left: 1%;
    margin-top: -11.1%;
}

.fonts {
    font-family: Cairo;
}

.height1 {
    height: 60px !important;
    width: 520px;
}

.height2 {
    height: 60px
}

table tbody tr:hover {
    background-color: #EBFAED;
}

.bold {
    font-weight: bold;
}

.theadbackGround {
    background-color: #459ED8;
}

table tbody {
    border: solid #ABABAB 1px;
    color: #747474;
}

.margin3 {
    margin-left: -58px;
}

.margin4 {
    margin-left: -137px;
}

.margin5 {
    margin-left: -204px;
}

.tbodyborder {
    border: none;
}

.marginpaggination {
    margin-top: 2% !important;
}

.line {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

.paddingh5 {
    margin-bottom: 6%;
    padding-top: 40px;
   
}

.headerborder {
    border-bottom: solid 1px #ABABAB;
}

.margin-title {
    position: absolute;
    right: 17px;
    top: 15px;
}

.margin-form {
    margin-top: -3%;
}

.marg {
    margin-top: -3%;
    text-align: justify;
}

.margR {
    margin-right: -3%;
}
.mt-5{
    margin-top: 4rem!important;
}
.marg1 {
    margin-left: 85%;
}

.marg2 {
    margin-left: 82%;
}

.marg3 {
    margin-left: 90%;
}

.marg4 {
    margin-left: 83%;
}

.marg5 {
    margin-left: 79%;
}

.marg6 {
    margin-left: 90%;
}

.marg10 {
    margin-left: 86%;
}

.marg11 {
    margin-left: 86%;
}

.marg12 {
    margin-left: 93%;
}

.select-style {
    height: 60px;
    border: solid black 1px;
    box-shadow: none;
    color: #ABABAB;
    width: 100%;
    direction: rtl;
    border-radius: 5px;
}

.save {
    background-color: #1C5E3B;
    width: 600px !important;
    height: 48px;
    margin-top: 60px;
    box-shadow: none;
    border: none;
}

.categ {
    width: 197%;
    margin-left: -52%;
    height: 48px;
}

.choices:last-child {
    margin-bottom: 51px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: white;
}

.choices__input {
    padding: 14px 0 4px 2px;
}

.mtop {
    margin-top: 1.1%;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
    background-color: white;
}

.choices__input {
    background-color: white;
}

.marg9 {
    margin-left: 87%;
}

.cost {
    margin-right: 41px;
}

.drop {
    /* margin-right: 18%; */
    margin-top: 1%;
}

.drop20 {
    width: 234px;
    height: 45px;
    background-color: white;
    color: #1C5E3B;
    border: solid 1px black !important;
    padding-right: 10%;
    margin-left: 24%;
    margin-top: -7%;
}

.drop20::after {
    margin-right: 59% !important;
    margin-top: -5.5% !important;
    display: none;
}

.drop20:hover {
    background-color: white;
    color: #1C5E3B;
}

.mar {
    margin-top: -2%;
}

.show>.btn-secondary.dropdown-toggle {
    color: #1C5E3B !important;
    background-color: white !important;
    box-shadow: none !important;
}

.sectionHead{
    justify-content: end;
    margin-left: 14px;
    margin-bottom: 15px;
}
td:first-child{
    text-align: initial;
    padding-right: 36px !important;
  }
  
  td:last-child {
    text-align: end;
    padding-left: 36px !important;
    
  }
  th:first-child{
    text-align: initial;
    padding-right: 36px !important;
  }
  th:last-child {
    text-align: end;
    padding-left: 49px !important;
    
  }